<h3 class="ep-change-password-page-title">Сбросить пароль</h3>
<p class="ep-change-password-page-help">Пожалуйста, укажите email или телефон, который вы использовали для входа на сайт</p>
<p class="ep-change-password-page-error" *ngIf="_error">{{ _error }}</p>
<form [formGroup]="_formGroup" (ngSubmit)="_onChangePassword()">
    <ep-password-field controlName="password" label="Пароль"></ep-password-field>
    <ep-password-field controlName="repeatPassword" label="Повторите пароль"></ep-password-field>
    <button class="ep-change-password-page-submit" type="submit">Готово</button>
</form>
