<div class="ep-courses-filters">
    <div class="ep-courses-filters__direction">
        <div class="ep-courses-filters__direction-title">{{ "Направление" }}</div>
        <div class="ep-courses-filters__direction-list">
            <div class="ep-courses-filters__direction-list-item _active">{{ "Программирование" }}</div>
            <div class="ep-courses-filters__direction-list-item">{{ "Веб-разработка" }}</div>
            <div class="ep-courses-filters__direction-list-item">{{ "Анализ данных" }}</div>
            <div class="ep-courses-filters__direction-list-item">{{ "Кибербезопасность" }}</div>
        </div>
    </div>
    <div class="ep-courses-filters__duration">
        <div class="ep-courses-filters__duration-title">{{ "Длительность" }}</div>
        <div class="ep-courses-filters__duration-input">
            <input type="range" min="3" max="24" step="1">
        </div>
    </div>
    <div class="ep-courses-filters__difficult">
        <div class="ep-courses-filters__difficult-title">{{ "Сложность" }}</div>
        <div class="ep-courses-filters__difficult-list">
            <div class="ep-courses-filters__difficult-list-item _active">{{ "Для новичков" }}</div>
            <div class="ep-courses-filters__difficult-list-item">{{ "Для профессионалов" }}</div>
            <div class="ep-courses-filters__difficult-list-item">{{ "Любая" }}</div>
        </div>
    </div>
</div>
