<div class="ep-password-field">
    <label class="ep-text-field__label"
           [class._focused]="_focused || _dirty"
           [for]="controlName"
    >{{ label }}</label>
    <input
        class="ep-password-field__input"
        [class._focused]="_focused || _dirty"
        [type]="visible ? 'text' : 'password'"
        [id]="controlName"
        [formControlName]="controlName"
        (focus)="_onFocus()"
        (blur)="_onBlur()"
        (input)="_onChange($event)"
    >
    <span class="ep-password-field__icon" (click)="_toggleVisibility()">
        <ng-container *ngIf="visible then visiblePassword else hidedPassword"></ng-container>
    </span>
</div>

<ng-template #hidedPassword>
    <svg-icon key="closed_eye" size="xs" [color]="'rgba(0, 0, 0, .5)'"></svg-icon>
</ng-template>

<ng-template #visiblePassword>
    <svg-icon key="eye" size="xs" [color]="'#008A0E'"></svg-icon>
</ng-template>



