<h3 class="ep-forgot-password-page-title">Сбросить пароль</h3>
<p class="ep-forgot-password-page-help">Пожалуйста, укажите email или телефон, который вы использовали для входа на сайт</p>
<ng-container *ngIf="!_isSentEmail else sentEmail">
    <form [formGroup]="_formGroup" (ngSubmit)="_onRestorePassword()">
        <ep-text-field controlName="email" label="Email"></ep-text-field>
        <button class="ep-forgot-password-page-submit" type="submit">Восстановить пароль</button>
    </form>
</ng-container>

<ng-template #sentEmail>
    <p>На вашу почту отправлена инструкция</p>
</ng-template>
