<div class="ep-navigation">
    <ul class="ep-navigation__list">
        <div *ngFor="let item of _menuItems"
             class="ep-navigation__list-item-wrapper"
             routerLinkActive="_active"
             [routerLink]="[item.route]"
        >
            <li class="ep-navigation__list-item">
                <svg-icon
                    [key]="item.icon"
                    [size]="item.size || _iconDefaultSize"
                ></svg-icon>
            </li>
        </div>
    </ul>
</div>
