<h3 class="ep-login-page-title">Вход</h3>
<p class="ep-login-page-help">Введите данные, чтобы войти в личный кабинет</p>
<p class="_message" *ngIf="_message">{{ _message }}</p>
<p class="_error" *ngIf="_error">{{ _error }}</p>
<form class="ep-login-page__form" [formGroup]="_formGroup" (ngSubmit)="_onFormSubmit()">
    <ep-text-field class="form-control" [controlName]="'login'" [label]="'Ваш телефон или e-mail'"></ep-text-field>
    <ep-password-field class="form-control" [controlName]="'password'" [label]="'Ваш пароль'"></ep-password-field>
    <div class="ep-login-page__form-options">
        <label for="remember-me">
            <input type="checkbox" formControlName="rememberMe" id="remember-me">
            Запомнить меня?
        </label>
        <span (click)="_navigateToForgotPassword()" class="forgot-password">Забыли пароль?</span>
    </div>
    <button type="submit" class="ep-login-page__form-submit">Войти</button>
</form>

<div class="to-registration">
    У вас ещё нет аккаунта?
    <span (click)="_navigateToRegistration()">Зарегистрироваться</span>
</div>
