
<div class="ep-user-dashboard">
    <div class="ep-user-dashboard__header">
        <div class="ep-user-dashboard__header-greetings">
            <svg-icon class="menu-icon" key="menu"></svg-icon>
            <span>{{ 'Good morning, Alexander' }}</span>
            <span class="text-notification">
                {{ 'You have' }}
                <span class="link">{{ '1 new message' }}</span>
            </span>
        </div>
        <div class="ep-user-dashboard__header-user-info">

        </div>
    </div>
    <div class="ep-user-dashboard__content">
        <div class="ep-user-dashboard__content-main"></div>
        <div class="ep-user-dashboard__content-sidebar"></div>
    </div>
</div>
