<div class="ep-header">
    <div class="ep-header__logo">
        <svg-icon class="logo" key="logo"></svg-icon>
        <div class="title">
            <span class="_black">ez</span>
            <span class="_green">el</span>
        </div>
    </div>
    <div class="ep-header__profile">
        <div class="ep-header__profile-actions">
            <svg-icon key="notification"></svg-icon>
        </div>
        <div class="ep-header__profile-info">
            <div class="ep-header__profile-info-name">{{ username }}</div>
            <div class="ep-header__profile-info-avatar">
                <div class="avatar-box"></div>
            </div>
        </div>
    </div>
</div>
