<div class="ep-router-page">
    <div class="ep-router-page__header">
        <ep-header [username]="_username"></ep-header>
    </div>
    <div class="ep-router-page__main">
        <div class="ep-router-page__main-routing">
            <ep-navigation-bar class="ep-navigation"></ep-navigation-bar>
            <router-outlet></router-outlet>
        </div>
        <div class="ep-router-page__main-sidebar">
            <div class="ep-router-page__main-sidebar__title">{{ "Профиль" }}</div>
            <div class="ep-router-page__main-sidebar__profile">
                <div class="ep-router-page__main-sidebar__profile-avatar">
                    <div class="avatar-box">

                    </div>
                </div>
                <div class="ep-router-page__main-sidebar__profile-contacts">
                    <div class="name">{{ _username }}</div>
                    <div class="email">{{ _email }}</div>
                </div>
            </div>
            <div class="ep-router-page__main-sidebar__courses">
                <div *ngFor="let course of _courses" class="ep-router-page__main-sidebar__course"></div>
            </div>
        </div>
    </div>
</div>

